.oracle_root_container {
    display: flex;
    align-items: center;
}

.action_container {
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
    gap: 16px;
}

.roll_button {
    width: 40%;
    height: 40px;
    font-size: large;
    font-weight: bold;
}

.roll_result_label {
    font-style: italic;
    font-weight: bold;
    font-size: larger;
}